<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>On va ou?</title>
</head>
<body>
<div id="app">
    <input type="date" v-model="startDate">
    <input type="date" v-model="endDate">
    <ul>
        <li v-for="destination in destinations">
            <strong>{{ destination }}</strong>
            <div>
                Aller:
                <ul v-if="departureHash[destination].length > 1">
                    <li v-for="trip in departureHash[destination]">
                        {{ trip.heure_depart }} -- {{ trip.heure_arrivee }}
                    </li>
                </ul>
                <template v-else>
                    {{ departureHash[destination][0].heure_depart }} -- {{ departureHash[destination][0].heure_arrivee }}
                </template>
            </div>
            <div>
                Retour:
                <ul  v-if="arrivalHash[destination].length > 1">
                    <li v-for="trip in arrivalHash[destination]">
                        {{ trip.heure_depart }} -- {{ trip.heure_arrivee }}
                    </li>
                </ul>
                <template v-else>
                    {{ arrivalHash[destination][0].heure_depart }} -- {{ arrivalHash[destination][0].heure_arrivee }}
                </template>
            </div>
        </li>
    </ul>
</div>
<form id="mainForm">

</form>
<ul id="resultField"></ul>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-async-computed@3.3.0"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script src="app.js"></script>
</body>
</html>
